.mc-table {
  height: 100%;
}
.mc-table *,
.mc-table :after,
.mc-table :before {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}
.mc-table table {
  border-spacing: 0;
  border-collapse: collapse;
}
.mc-table table th {
  text-align: left;
}
.mc-table .table {
  font-size: 12px;
  margin-bottom: 20px;
  margin: 0;
  padding: 0;
}
.mc-table .table th,
.mc-table .table td {
  border-bottom: 1px solid #ddd;
  padding: 8px;
  line-height: 14px;
  word-break: break-word;
  background-color: white;
}
.mc-table .table > thead > tr > th {
  background-color: #f1f1f1;
  border-bottom: 1px solid #ddd;
}
.mc-table .table th {
  vertical-align: center;
}
.mc-table .table .check-btn {
  width: 30px;
  text-align: center;
  min-width: 30px;
}
.mc-table .table-bordered td,
.mc-table .table-bordered th {
  border: 1px solid #ddd;
}
.mc-table .table-striped > tbody > tr:nth-child(odd) > td,
.mc-table .table-striped > tbody > tr:nth-child(odd) > th {
  background-color: #f9f9f9;
}
.mc-table .table-condensed td,
.mc-table .table-condensed th {
  padding: 5px;
}
.mc-table .table-borderless td,
.mc-table .table-borderless th,
.mc-table .table-borderless thead > tr > th {
  border: none;
}
.mc-table .table-hover > tbody > tr:hover > td,
.mc-table .table-hover > tbody > tr:hover > th {
  background-color: #ebf2f9;
}
.mc-table .mc-table-wrapper,
.mc-table .mc-table-wrapper .mc-thead,
.mc-table .mc-table-wrapper .mc-tfoot,
.mc-table .mc-table-wrapper .mc-fixed-column .mc-tbody,
.mc-table .mc-table-wrapper .mc-fixed-body .mc-tbody,
.mc-table .mc-table-wrapper .mc-tbody {
  overflow: hidden;
  position: relative;
  display: block;
}
.mc-table .mc-table-wrapper {
  height: 100%;
}
.mc-table .mc-table-wrapper .mc-fixed-body .mc-tbody,
.mc-table .mc-table-wrapper .mc-tbody {
  overflow: auto;
  height: 100%;
}
.mc-table .mc-table-wrapper .mc-fixed-column {
  z-index: 1;
}
.mc-table .mc-table-wrapper .mc-fixed-column,
.mc-table .mc-table-wrapper .mc-fixed-body {
  top: 0;
  left: 0;
  position: absolute;
}
.mc-table .mc-table-wrapper .table > tbody > tr.hover > td,
.mc-table .mc-table-wrapper .table > tbody > tr > td.col-hover {
  background-color: #ebf2f9;
}
.mc-table .mc-table-wrapper .table > tbody > tr.checked > td {
  background-color: #ffe7bc;
}
